name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [develop, main]
  push:
    branches: [develop, feature/*]

jobs:
  ci:
    uses: heliomarpm/ci-cd-reusable/.github/workflows/ci.yml@main
